@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.landing-page {
  font-family: Arial, sans-serif;
  color: #fff;
}

.banner {
  background-image: url("../../../assets/landing/Hero.png");
  background-size: cover;
  height: 300px;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
}

.banner h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  color: #fff;
  margin: auto auto 20px auto;
}

.banner p {
  font-size: 48px;
  color: #fff;
  margin: auto auto 40px auto;
}

.banner .highlight {
  color: #fbc02d;
}
